
<div style="background-color: aqua">
<div class="contentlist">
    <div class="listcontent">
        <h2>Why choose <strong>Trugreen</strong>? Becuase I said so!!!!</h2>
        <ul>
            <li class="a">TruExpert<sup>&#8480;</sup> Certified Specialists</li>
            <li class="b">Healthy Lawn Analysis<sup>&reg;</sup></li>
            <li class="c">A scientifically tailored approach to your lawn</li>
            <li class="d">Guaranteed results</li>
            <li class="e">Pre-emergent & targeted weed control</li>
            <li class="f">Fertilization</li>
        </ul>
        <p>Also available:</p>
        <ul>
            <li class="g">Aeration</li>
            <li class="h">Lime soil amendment</li>
            <li class="i">Tree & shrub</li>
            <li class="j">Additional services</li>
        </ul>
    </div>
</div>
<div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="542c442200006400057aabc0" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5"></div>
<div class="buyboxes">
    <div class="contentmain">
        <div class="contenthead">
            <span>Check out some of our other great online offers:<sup>1</sup></span>
        </div>
        <div class="tgbuy">
            <div class="tgbuybox l">
                <h3>Lawn Aerator Shoes</h3>
                <img src="/Content/Images/trg-d79-shoes.jpg" />
                <ul><li><span>Easy and economical way to improve the health of your lawn</span></li><li><span>Opens up hard soil, reduces thatch</span></li><li><span>One-size sandals strap onto adult shoes sizes 6 to 10</span></li></ul>
                <div class="linktext">
                    Only $24.99<sup>1</sup> - <a href="/buy/" target="_blank">Buy Now!</a>
                </div>
            </div>
            <div class="tgbuybox mid">
                <h3>Recommended Reading!</h3>
                <img src="/Content/Images/tgo-d28-buy2.png" />
                <p><em><strong>Lawns, Grasses and <br /> Groundcovers</strong><br />(Rodale’s Successful  <br />Organic Gardening) </em><br /><br /><span>A gardener’s guide to <br /> creating a beautiful lawn <br /> with easy-care plants.</span></p>
                <div class="linktext">
                    Only $19.99<sup>1</sup> - <a href="/buy/" target="_blank">Buy Now!</a>
                </div>
            </div>
            <div class="tgbuybox l r">
                <h3>Compare-N-Save Systemic Tree & Shrub Insect Drench</h3>
                <img src="/Content/Images/trg-d79-jug.jpg" />
                <ul><li><span>Control aphids, emerald ash borers, Japanese beetles, birch leaf miners, and more for up to 12 months </span></li><li><span> Insecticide absorbed through the roots and into the plant for protection that won’t wash off</span></li></ul>
                <div class="linktext">
                    Only $39.99<sup>1</sup> - <a href="/buy/" target="_blank">Buy Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="botcta">
    <div class="botbox">
        <div class="botnumber">
            <p>Call today to schedule a <br /><strong>FREE Lawn Analysis</strong></p>
            <span>1-855-239-0086</span>
        </div>
    </div>
</div>

</div>
