<div style="background-color:chartreuse">
    <div class="footerbot">
        <div align="center"><span><a href="/privacy/" class="lbox">Privacy Policy</a></span></div>
        <p class="footerP1">
            &copy; Copyright @DateTime.Now.Year Lawncare.net. All rights reserved. Some restrictions may apply.<br />
            Consumer responsible for all sales tax. Valid at participating TruGreen locations. Availability of service may vary by geography.<br />
            *Requires purchase of annual plan. Special price of $29.95 is for first application only, for new residential Easy Pay or Pre-Pay customers only, and applies to lawns up to 5,000 square feet. For lawns more than 5,000 square feet or for the regular lawn application price for a lawn of any size, please call for estimate. Valid at participating TruGreen locations. Availability of services may vary by geography. Not to be combined with or used in conjunction with any other offer or discount. Additional restrictions may apply. Consumer responsible for all sales tax.<br />
            **Guarantee applies to full plan customers only <br />
            &dagger;  Purchase of full lawn plan required for Healthy Lawn Analysis, which is performed at the first service visit.<br />
            <sup>1</sup> Exclusive web offer only. This product is not sponsored by, endorsed or affiliated with TruGreen&reg;
        </p>
    </div>
</div>
